.Dropdown {
    /* outline: 1px solid red; */
    box-sizing: border-box;
    /* margin: 0px 10px; */
}

.Select {
    /* box-sizing: border-box; */
    -webkit-appearance: none;
    appearance: none;
    color: hsl(195, 50%, 20%);
    background-color: hsl(195, 50%, 45%);
    outline: none;
    border: none;
    border-radius: 5px;
    /* line-height: 1; */
    font-size: 18px;
    padding: 12px 10px;
    padding-right: 25px;
    background-image: linear-gradient(hsl(195, 50%, 45%), hsl(195, 50%, 45%)),
    linear-gradient(-135deg, transparent 50%, hsl(195, 50%, 40%) 50%),
    linear-gradient(-225deg, transparent 50%, hsl(195, 50%, 40%) 50%),
    linear-gradient(hsl(195, 50%, 30%) 42%, hsl(195, 50%, 30%) 42%),
    linear-gradient(hsl(195, 50%, 40%) 42%, hsl(195, 50%, 40%) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 0px 100%, 25px 77%, 25px 77%, 25px 58%, 25px 50%;
    /* background-size: 100% 100%, 20px 22px, 20px 22px, 20px 100%; */
    background-position: right center, right bottom, right bottom, right bottom, right top; 
    /* text-align: center; */
}

.Select:hover {
    cursor: pointer;
    /* color: hsl(195, 80%, 65%); */
    /* background-color: hsl(195, 50%, 35%); */
    background-image: linear-gradient( hsl(195, 50%, 45%), hsl(195, 50%, 45%)),
    linear-gradient(-135deg, transparent 50%, hsl(195, 50%, 35%) 50%),
    linear-gradient(-225deg, transparent 50%, hsl(195, 50%, 35%) 50%),
    linear-gradient(hsl(195, 80%, 65%) 42%, hsl(195, 80%, 65%) 42%),
    linear-gradient(hsl(195, 50%, 35%) 42%, hsl(195, 50%, 35%) 42%);
}

.Select:active {
    background-color: hsl(195, 50%, 45%);
}

/* 
background-image: linear-gradient(hsl(195, 50%, 10%), hsl(195, 50%, 80%)),
    linear-gradient(-135deg, transparent 50%, hsl(195, 50%, 70%) 50%),
    linear-gradient(-225deg, transparent 50%, hsl(195, 50%, 70%) 50%),
    linear-gradient(hsl(195, 50%, 40%) 42%, hsl(195, 50%, 40%) 42%);
 */

@media (max-width: 600px) {
    .Select {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .Select {
        font-size: 12px;
    }
}